name: PR Lint

on:
  pull_request_target: {}
  workflow_dispatch: {}

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 18.x
      - name: run linter
        run: ./lint.sh
