name: PR Lint

on:
  pull_request:
    # don't trigger when RFC table is updated since it comes from a github
    # workflow and then this workflow will be blocked (github does not allow two
    # workflows to trigger each other)
    branches-ignore:
      - 'auto/update-rfc-table'
  workflow_dispatch: {}

jobs:
  markdownlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: run linter
        run: ./lint.sh
