name: Render RFC Table
on: 
- issues
jobs:
  render:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - run: |
          cd tools/rfc-render
          npm install
          node inject-table.js
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
